.search_input_rec {
  width: 70%;
  margin-left: auto;
  position: relative;
  border-bottom: 3px solid #201d48;
}
.search_wrapper {
  display: flex;
  align-items: center;
  padding: 13px 17px 13px;
  width: 100%;
  border-radius: 25px;
}

.search_wrapper__opened_rec {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.searchIcon__wrapper {
  display: flex;
  width: 35px;
  height: 35px;
}
.searchInput__wrapper {
  width: 100%;
  height: 100%;
}
.search_wrapper__input,
.search_wrapper {
  background-color: #2e2867;
}
.search_wrapper__input {
  font-size: 28px;
  color: white;
  margin-left: 10px;
  width: 97%;
}
@media (max-width: 780px) {
  .search_input_rec {
    margin-left: 0;
    width: 100%;
  }
  .search_wrapper {
    padding: 10px 13px 10px;
  }
  .search_wrapper__input {
    font-size: 18px;
  }
}
