.videoLayout_wrapper {
  position: relative;
  margin-left: 30px;
}
.videoLayout__content::-webkit-scrollbar {
  width: 5px;
}
.videoLayout__content::-webkit-scrollbar-track {
  border-radius: 10px;
}

.videoLayout__content::-webkit-scrollbar-thumb {
  background: #c5c5ff;
  border-radius: 10px;
}

.videoLayout__content {
  overflow-y: scroll;
  padding: 20px;
  max-height: 30vh;
}

.videoLayout {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  width: 100%;
  max-height: calc(100vh - 45px);
  background: #2e2867;
  border-radius: 0 0 15px 15px;
}
.videoLayout__video_wrapper {
  height: 23vw;
}
.videoLayout__video {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 45px);
}
.videoLayout__host {
  font-weight: 500;
  color: #c5c5ff;
  margin-top: 1rem;
  font-size: 18px;
}

.videoLayout__desc {
  margin-top: 1rem;
  font-size: 16px;
  color: #c5c5ff;
}
.videoLayout__errormessage {
  margin: 50px;
}

.videoLayout__close {
  cursor: pointer;
  position: absolute;
  right: -44px;
  top: -44px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0.8;
  background-color: transparent;
  z-index: 1;
}
@media (max-width: 1555px) {
  .videoLayout__video_wrapper {
    height: 32vw;
  }
  .videoLayout__title {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .videoLayout {
    display: block;
    padding: 0;
    border-radius: 0;
    position: static;
    overflow-y: scroll;
  }
  .videoLayout::-webkit-scrollbar {
    width: 5px;
  }

  .videoLayout::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .videoLayout::-webkit-scrollbar-thumb {
    background: #6666af;
    border-radius: 10px;
  }

  .videoLayout_wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0;
    z-index: 1;
  }

  .videoLayout__content {
    padding: 8px;
    max-height: 30vw;
    height: auto;
    overflow-y: initial;
  }
  .videoLayout__video_wrapper {
    height: 50vw;
  }

  .videoLayout__close {
    transform: scale(0.8);
    right: -2px;
  }
}

/* x in videoLayout__close  */
.videoLayout__close:hover {
  opacity: 1;
}
.videoLayout__close:before,
.videoLayout__close:after {
  position: absolute;
  left: 20.5px;
  top: 4.5px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.videoLayout__close:before {
  transform: rotate(45deg);
}
.videoLayout__close:after {
  transform: rotate(-45deg);
}
