.transparentbtn_small,
.transparentbtn {
  border-radius: 10px;
  background-color: transparent;
  color: white;
}
.transparentbtn_small {
  width: 100px;
  font-size: 17px;
  padding: 5px 10px;
  max-height: 40px;
  border: 2px solid #6f6c99;
}
.transparentbtn {
  font-size: 50px;
  border: 3.5px solid #6f6c99;
  padding: 20px 70px;
}
@media (max-width: 780px) {
  .transparentbtn {
    font-size: 30px;
    padding: 10px 50px;
  }
}
