.lds_ring {
  display: inline-block;
  position: fixed;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 180px;
  height: 180px;
}
.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 140px;
  height: 140px;
  margin: 15px;
  border: 15px solid #fff;
  border-radius: 50%;
  animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
