.image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.filmcard {
  display: flex;
  flex-direction: column;
  width: 380px;
  border-radius: 17px;
  margin-left: 80px;
  margin-top: 50px;
  background: #2e2867;
}

.filmcard__img > div {
  position: unset !important;
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 17px 17px 0 0;
}
.filmcard__title {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.filmcard__content {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 0 0 17px 17px;
}
.filmcard__host,
.filmcard__description {
  margin-top: 1rem;
  font-size: 20px;
  color: #c5c5ff;
}
.filmcard__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 1010px) {
  .filmcard {
    width: 300px;
  }
  .filmcard__content {
    padding: 14px;
    height: 200px;
  }

  .filmcard__img > div {
    height: 190px;
  }
  .filmcard__host,
  .filmcard__description {
    font-size: 16px;
  }
  .filmcard__title {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .filmcard {
    flex-direction: row;
  }
  .filmcard__content {
    height: 140px;
    border-radius: 0 17px 17px 0;
  }
  .filmcard__title {
    font-size: 14px;
    -webkit-line-clamp: 2;
  }
  .filmcard__host,
  .filmcard__description {
    margin-top: 0.3rem;
    font-style: 13px;
  }
  .filmcard__description {
    -webkit-line-clamp: 2;
  }
  .filmcard {
    width: 90vw;

    display: flex;
  }
  .filmcard__img > div {
    width: 155px;
    height: 100%;
    border-radius: 17px 0 0 17px;
  }
}
@media (max-width: 510px) {
  .filmcard {
    margin-top: 15px;
  }

  .filmcard__description {
    -webkit-line-clamp: 1;
  }
  .filmcard__title {
    font-size: 13px;
  }
  .filmcard__content {
    height: 88px;
    padding: 8px;
  }
  .filmcard__host,
  .filmcard__description {
    font-size: 12px;
  }

  .filmcard__host,
  .filmcard__description {
    margin-top: 0.2rem;
  }

  .filmcard__img > div {
    width: 100px;
  }
}
