.image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.filmcard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  border-radius: 15px;
  margin-left: 80px;
  margin-top: 50px;
  background-color: #2e2867;
}
.filmcard:hover {
  box-shadow: 0px 0px 36px #131128;
}
.filmcard__active {
  box-sizing: initial;
  border: 2px solid #e7e7e7;
  background: #e7e7e7;
}
.filmcard__img {
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.filmcard__img > div {
  position: relative !important;
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.filmcard__host_ind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.filmcard__title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.filmcard__content {
  width: 100%;
  height: 217px;
  display: flex;
  flex-direction: column;
  padding: 14px 14px 10px 14px;
  border-radius: 0 0 15px 15px;
  background-color: #2e2867;
}
.filmcard__host {
  color: #c5c5ff;
  font-size: 18px;
  font-weight: 500;
}
.filmcard__description {
  font-size: 16px;
  margin-top: 0.6rem;
  color: #c5c5ff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.filmcard__remotecontroller_ind {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5c5ff;
  border-radius: 30px;
  padding: 3px 9px;
}

.filmcard_ind {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e2867;
  font-weight: bold;
  font-size: 17px;
}

@media (max-width: 800px) {
  .filmcard {
    flex-direction: row;
    height: 120px;
    width: 100%;
    margin-left: 0;
    display: flex;
  }
  .filmcard__content {
    height: 100%;
    border-radius: 0 15px 15px 0;
  }
  .filmcard__title {
    font-size: 14px;
    -webkit-line-clamp: 2;
  }
  .filmcard__host,
  .filmcard__description {
    margin-top: 0.3rem;
    font-size: 13px;
  }
  .filmcard__description {
    -webkit-line-clamp: 2;
  }

  .filmcard__img {
    width: 155px;
    height: 100%;
  }
  .filmcard__img > div {
    height: 100%;
    width: 100%;
  }
  .filmcard__img {
    border-radius: 15px 0 0 15px;
  }

  .filmcard__remotecontroller_ind {
    display: none !important;
  }
}
@media (max-width: 510px) {
  .filmcard {
    height: 98px;
    margin-top: 15px;
  }

  .filmcard__description {
    -webkit-line-clamp: 1;
  }
  .filmcard__title {
    font-size: 13px;
  }
  .filmcard__content {
    padding: 8px;
  }
  .filmcard__host,
  .filmcard__description {
    font-size: 12px;
  }

  .filmcard__host,
  .filmcard__description {
    margin-top: 0.2rem;
  }
}
