.main {
  min-height: calc(100vh - 130px);
  padding: 80px 0;
}
.main_two_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1555px) {
  .main_two_columns {
    grid-template-columns: min-content 1fr;
  }
  .main {
    padding: 50px 0;
  }
}

@media (max-width: 800px) {
  .main_two_columns {
    display: block;
  }
}
@media (max-width: 510px) {
  .main {
    padding: 23px 0;
  }
}
